version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: "echo repo_token: $COVERALLS_TOKEN > .coveralls.yml"
            - run: cat .coveralls.yml
            - run: npm install
            - run: npm run build
            - run: npm run coveralls
workflows:
  build-and-test:
    jobs:
      - build-and-test
